.dropDown {
  display: flex;
  flex-direction: row;
  color: black;
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
}

.placeholder {
  color: #9e9e9e;
}