.documentsContainer {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #e7e6e6;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  padding: 20px 40px;

  @media (min-width: 1400px) {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  @media (max-width: 500px) {
    padding: 10px 20px;
  }
}

.loader {
  display: flex;
  justify-content: center;
}

.documentsGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.documentsGroupTitle {
  font-size: 20px;
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.headerFilters {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.centeredColumn {
  text-align: center;
}

.fileTypeCellValue {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 120px;
}

.fileColumn {
  text-align: start;
  
  & > a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}